@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
#box{
	width:1104px;
	margin:auto;
}
#about{
	clear:both;
	width:1104px;
	height:50px;
	background: rgb(237,237,237);
}
#topLeft{
	width:500px;
	height:20px;
	margin-left:110px;
	padding-top:15px;
	font-size:14px;
	float:left;
}
#topLeft img{
	float:left;
	margin-left:10px;
	}
#topLeft span{
	float:left;
	display:block;
	margin-left:10px;
	}
.back{
	width:92px;
	height:20px;
	float:left;
}
#topRight{
	padding-top:15px;
	width:300px;
	height:20px;
	float:right;
	margin-right:50px;
	font-size:14px;
}
#topLogo{
	clear:both;
	width:1104px;
	height:130px;
	line-height:130px;
}
#topLogo img{
	float:left;
	/*margin-top:15px;*/
	margin-left:100px;
}
#topLogo p{
	width:350px;
	margin-left:50px;
	float:left;
	font-size:30px;
	font-family:'宋体';
}
#topList{
	width:1104px;
	height:45px;
	background:#9C3;
	line-height:45px;
	color:#FFF;
	font-size:15px;
	font-family:'仿体';
}
#topList ul{
	margin-left:70px;
	list-style:none;
	}
#topList ul li{
	text-align:center;
	width:100px;
	height:45px;
	float:left;
	/*margin-left:30px;*/
}
#topList li:hover{
	background:#663;
	border-radius:7px;
}
#lunbo{
	width:1104px;
	height:280px;
	margin-top:5px;
	overflow:hidden;
	position:relative;
	
}
#lunbo ul{
	left:0;
	top:0;
	position:absolute;
	list-style:none;
	z-index:1;
	}
#lunbo ul img{
	width:1104px;
	height:280px;
	}
#lunbo ul li{
	float:left;
}
#btn{
	position:absolute;
	width:200px;
	height:50px;
	top:490px;
	left:50%;
	z-index:2;
}
#btn input{
	width:12px;
	height:12px;
	border-radius:12px;
	}
.active{background:#FC6;}